/* *** Variables *** */
$breakpoint-xs: 0;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1400px;

$heading-font: 'Allura', cursive;
$body-font: 'Josefin Sans', sans-serif;

$yellow: #f5ff43;
$green: #50e176;
$blue: #1FCAD6;
$black: #061224;

html {
  height: 100vh;
  width: 100%;
}

body#faqs {
  background-color: $black;
  color: whitesmoke;
  font-family: $body-font;
  height: 100%;
  margin: 0;
  text-align: center;
  width: 100%;

  a {
    text-decoration: none;
  }

  .top {
    .top-links {
      align-items: center;
      display: flex;
      justify-content: space-evenly;
      margin: auto;
      max-width: 30rem;

      h2 {
        display: inline-block;
        margin: 0;
      }
    }

    .logo-container {
      width: 100%;
      display: flex;
      justify-content: center;
      margin: 1rem auto;

      img.logo {
        aspect-ratio: auto;
        width: 10rem;
      }
    }

    .title {
      margin: 1rem auto;
      text-align: center;

      * {
        margin: 0;
        display: inline-block;
      }
    }
  }

  &.simple-font {
    h2 {
      font-family: $body-font;
    }
  }

  #fontButton {
    cursor: pointer;
  }

  h1, h2 {
    font-family: $heading-font;
    background: linear-gradient(to right, $yellow, $green 35%, $blue);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  h1 {
    font-size: 3rem;
    margin: 1rem;
    @media (max-width: $breakpoint-sm) {
      font-size: 2rem;
    }
  }

  section {
    margin: 1rem auto 5rem;

    .question {
      max-width: 40rem;
      margin: auto;
      @media (max-width: $breakpoint-sm) {
        p {
          width: 90%;
          margin: auto;
        }
        h2 {
          width: 100%;
        }
      }
    }
  }
}
