/* *** Variables *** */
html {
  height: 100%;
  max-width: 100%;
  overflow-x: clip;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

body {
  height: 100%;
  margin: 0;
  font-family: "Josefin Sans", sans-serif;
  background-color: #061224;
  color: whitesmoke;
}
body h1, body h2 {
  font-family: "Allura", cursive;
  text-align: center;
  background: linear-gradient(to right, #f5ff43, #50e176 35%, #1FCAD6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
body h1 {
  font-size: 4rem;
}
@media (max-width: 576px) {
  body h1 {
    font-size: 2rem;
  }
}
body a {
  text-decoration: none;
}
body a.inline-link {
  font-family: "Allura", cursive;
  font-size: 1.4rem;
  line-height: 0.8rem;
  background: linear-gradient(to right, #f5ff43, #50e176 35%, #1FCAD6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: glow 6s ease-in-out infinite normal;
  animation-delay: 2s;
}
@keyframes glow {
  from {
    text-shadow: none;
  }
  12.5% {
    text-shadow: 0 0 10px #f5ff43;
  }
  25% {
    text-shadow: none;
  }
  37.5% {
    text-shadow: 0 0 10px #50e176;
  }
  50% {
    text-shadow: none;
  }
  62.5% {
    text-shadow: 0 0 10px #1FCAD6;
  }
  to {
    text-shadow: none;
  }
}
body .hidden {
  display: none !important;
}
body .top {
  margin-top: 0.5rem;
}
body .top h2 {
  text-align: center;
  margin: 0;
}
body .top h2:first-child {
  margin-bottom: -1rem;
}
body .middle {
  max-width: 576px;
  text-align: center;
}
body .middle h2 span {
  margin: auto;
  background: linear-gradient(to right, #f5ff43, #50e176 35%, #1FCAD6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
body .middle img {
  width: 100%;
}
body .bottom {
  margin-bottom: 3rem;
}
body .bottom h2 {
  text-align: center;
  margin: 0;
}
body .bottom h2:first-child {
  margin-bottom: -1rem;
}
body header {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  scroll-snap-align: center;
  text-align: center;
}
body header #countdown h1 {
  margin: -1rem;
  font-feature-settings: "tnum";
  font-variant-numeric: tabular-nums;
}
body header #countdown #countdown_days {
  width: 20rem;
  margin: auto;
}
body header #countdown #countdown_all {
  display: flex;
  justify-content: space-evenly;
  background: linear-gradient(to right, #f5ff43, #50e176 35%, #1FCAD6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media (max-width: 576px) {
  body header #countdown #countdown_all {
    max-width: 400px;
    width: 100vw;
  }
}
body header #countdown #countdown_all h1 {
  font-family: "Josefin Sans", sans-serif;
  background: transparent;
  margin: 0 0.5rem -1rem;
}
body header #countdown #countdown_all .smalltext {
  font-family: "Allura", cursive;
  font-size: 2rem;
}
@media (max-width: 576px) {
  body header #countdown #countdown_all .smalltext {
    font-size: 1.5rem;
  }
}
body section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  scroll-snap-align: center;
  scroll-padding: 50%;
  margin: 10vh 0;
}
body section .top, body section .bottom {
  display: flex;
  justify-content: space-between;
  background: linear-gradient(to right, #f5ff43, #50e176 35%, #1FCAD6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
body section .top h2, body section .bottom h2 {
  background: transparent;
}
@media (max-width: 576px) {
  body section .top h2, body section .bottom h2 {
    font-size: 1.2rem;
  }
}
body section .top a, body section .bottom a {
  margin: 0.5rem;
}
body section#details .middle {
  text-align: center;
}
body section#details .middle .big {
  font-size: 3rem;
}
body section#order ul {
  width: 320px;
  list-style-type: none;
  text-align: justify-all;
}
body section#order ul .big {
  margin-left: -75%;
  width: 800px;
  font-size: 2rem;
  text-align: center;
}
@media (max-width: 576px) {
  body section#order ul .big {
    font-size: 1.6rem;
    width: 90vw;
    margin-left: -25px;
    overflow-x: clip;
  }
}

/*# sourceMappingURL=main.css.map */
