/* *** Variables *** */
$breakpoint-xs: 0;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1400px;

$heading-font:'Allura', cursive;
$body-font: 'Josefin Sans', sans-serif;

html {
  scroll-behavior: smooth;
}

body {
  height: 90vh;
  font-family: $body-font;
  h1 {
    font-family: $heading-font;
    font-size: 4rem;
  }

  main {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

  }
}