/* *** Variables *** */
$breakpoint-xs: 0;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1400px;

$heading-font: 'Allura', cursive;
$body-font: 'Josefin Sans', sans-serif;
$form-font-size: 1.5rem;

$yellow: #f5ff43;
$green: #50e176;
$blue: #1FCAD6;
$black: #061224;
$form-transparent: #1566e020;

html {
  height: 100vh;
}

body#rsvp {
  height: 100%;
  width: 100vw;
  margin: 0;
  font-family: $body-font;
  background-color: $black;
  color: whitesmoke;

  h1, h2 {
    font-family: $heading-font;
    text-align: center;
    background: linear-gradient(to right, $yellow, $green 35%, $blue);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  h1 {
    font-size: 3rem;
    display: inline-block;
    @media (max-width: $breakpoint-sm) {
      font-size: 2rem;
    }
  }

  a {
    text-decoration: none;
  }

  .hidden {
    display: none !important;
  }

  section {
    .top {
      .top-links {
        align-items: center;
        display: flex;
        justify-content: space-evenly;
        margin: auto;
        max-width: 30rem;

        h2 {
          display: inline-block;
          margin: 0;
        }
      }

      .logo-container {
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 1rem auto;

        img.logo {
          aspect-ratio: auto;
          width: 10rem;
        }
      }

      .title {
        margin: 1rem auto;
        text-align: center;

        * {
          margin: 0;
        }
      }

    }

    .middle {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    form {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;

      label {
        text-align: center;
      }

      input, select, textarea {
        background-color: $form-transparent;
        border: 0;
        border-radius: 0.5rem;
        color: $blue;
        font-size: $form-font-size;
        font-family: $body-font;
        padding: 0.2rem;
        text-align: center;
        width: 30rem;
        @media (max-width: $breakpoint-sm) {
          width: 90%;
        }
      }

      input {
        max-width: 100%;

        &:focus-visible {
          box-shadow: 0 0 20px -5px $yellow;
          outline: none;
          transition: all 0.5s;
        }

        &.submit {
          cursor: pointer;
          padding: 0 1rem;
          width: auto;

          @media (max-width: $breakpoint-sm) {
            box-shadow: -20px 0 30px $yellow,
            0 0 30px $green,
            20px 0 30px $blue;
            transition: all 0.5s;
          }

          &:hover {
            box-shadow: -20px 0 30px $yellow,
            0 0 30px $green,
            20px 0 30px $blue;
            transition: all 0.5s;
          }
        }
      }
    }

    #password_form {
      height: calc(100vh - 25rem);
      display: flex;
      flex-direction: column;
      justify-content: center;

      h1 {
        margin: 0 0 2rem 0;
      }

      input {
        font-family: $heading-font;
        margin-bottom: 2rem;
        font-size: 3rem;

        &.submit {
          font-size: 2rem;
        }
      }
    }

    #rsvp_form_container {
      font-size: $form-font-size;

      .form-section {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        align-items: center;
        padding-bottom: 1rem;
        width: 100%;
      }

      input {
        &.submit {
          font-family: $heading-font;
          font-size: 2rem;
          margin-top: 2rem;
          width: auto;
        }
      }

      .visible-label {
        display: flex;
        gap: 0.5rem;
        align-items: center;
        @media (max-width: $breakpoint-sm) {
          max-width: 80%;
        }

        input[type=checkbox] {
          width: 1.2rem;
          height: 1.2rem;
        }

        select {
          width: auto;
        }
      }

      textarea {
        height: 10rem;
        resize: none;
        text-align: left;
        @media (max-width: $breakpoint-sm) {
          max-width: 90%;
        }
      }

      #party_details {
        h2 {
          margin: 0;
        }
      }
    }
  }
}
