/* *** Variables *** */
html {
  height: 100vh;
}

body#rsvp {
  height: 100%;
  width: 100vw;
  margin: 0;
  font-family: "Josefin Sans", sans-serif;
  background-color: #061224;
  color: whitesmoke;
}
body#rsvp h1, body#rsvp h2 {
  font-family: "Allura", cursive;
  text-align: center;
  background: linear-gradient(to right, #f5ff43, #50e176 35%, #1FCAD6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
body#rsvp h1 {
  font-size: 3rem;
  display: inline-block;
}
@media (max-width: 576px) {
  body#rsvp h1 {
    font-size: 2rem;
  }
}
body#rsvp a {
  text-decoration: none;
}
body#rsvp .hidden {
  display: none !important;
}
body#rsvp section .top .top-links {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  margin: auto;
  max-width: 30rem;
}
body#rsvp section .top .top-links h2 {
  display: inline-block;
  margin: 0;
}
body#rsvp section .top .logo-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 1rem auto;
}
body#rsvp section .top .logo-container img.logo {
  aspect-ratio: auto;
  width: 10rem;
}
body#rsvp section .top .title {
  margin: 1rem auto;
  text-align: center;
}
body#rsvp section .top .title * {
  margin: 0;
}
body#rsvp section form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body#rsvp section form label {
  text-align: center;
}
body#rsvp section form input, body#rsvp section form select, body#rsvp section form textarea {
  background-color: rgba(21, 102, 224, 0.1254901961);
  border: 0;
  border-radius: 0.5rem;
  color: #1FCAD6;
  font-size: 1.5rem;
  font-family: "Josefin Sans", sans-serif;
  padding: 0.2rem;
  text-align: center;
  width: 30rem;
}
@media (max-width: 576px) {
  body#rsvp section form input, body#rsvp section form select, body#rsvp section form textarea {
    width: 90%;
  }
}
body#rsvp section form input {
  max-width: 100%;
}
body#rsvp section form input:focus-visible {
  box-shadow: 0 0 20px -5px #f5ff43;
  outline: none;
  transition: all 0.5s;
}
body#rsvp section form input.submit {
  cursor: pointer;
  padding: 0 1rem;
  width: auto;
}
@media (max-width: 576px) {
  body#rsvp section form input.submit {
    box-shadow: -20px 0 30px #f5ff43, 0 0 30px #50e176, 20px 0 30px #1FCAD6;
    transition: all 0.5s;
  }
}
body#rsvp section form input.submit:hover {
  box-shadow: -20px 0 30px #f5ff43, 0 0 30px #50e176, 20px 0 30px #1FCAD6;
  transition: all 0.5s;
}
body#rsvp section #password_form {
  height: calc(100vh - 25rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
body#rsvp section #password_form h1 {
  margin: 0 0 2rem 0;
}
body#rsvp section #password_form input {
  font-family: "Allura", cursive;
  margin-bottom: 2rem;
  font-size: 3rem;
}
body#rsvp section #password_form input.submit {
  font-size: 2rem;
}
body#rsvp section #rsvp_form_container {
  font-size: 1.5rem;
}
body#rsvp section #rsvp_form_container .form-section {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  padding-bottom: 1rem;
  width: 100%;
}
body#rsvp section #rsvp_form_container input.submit {
  font-family: "Allura", cursive;
  font-size: 2rem;
  margin-top: 2rem;
  width: auto;
}
body#rsvp section #rsvp_form_container .visible-label {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
@media (max-width: 576px) {
  body#rsvp section #rsvp_form_container .visible-label {
    max-width: 80%;
  }
}
body#rsvp section #rsvp_form_container .visible-label input[type=checkbox] {
  width: 1.2rem;
  height: 1.2rem;
}
body#rsvp section #rsvp_form_container .visible-label select {
  width: auto;
}
body#rsvp section #rsvp_form_container textarea {
  height: 10rem;
  resize: none;
  text-align: left;
}
@media (max-width: 576px) {
  body#rsvp section #rsvp_form_container textarea {
    max-width: 90%;
  }
}
body#rsvp section #rsvp_form_container #party_details h2 {
  margin: 0;
}

/*# sourceMappingURL=rsvp.css.map */
